#banner {
    background-color: white;
    height: 50px;
    text-align: center;
}
 
h1 {
    margin: 0px;
    line-height: 50px;
    text-align: center;
}
h3{
    text-align: right;
    line-height: 50px;
    margin-right: 100px;
    margin-top: 170px;
}
 
body {
    margin: 0px;
    background-color:white;
}
 
.bodyText {
    color: black;
}
li {
    padding: 10px;
    display: inline;
}
 
#navBar {
    text-align: center;
}
 
a {
    text-decoration: none;
    color: black;
}
h2 {
    padding-left: 10px;
    text-align: center;
}
 
.bodyText {
    color:black;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
